<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- book.bookname %></title>
  <link rel="stylesheet" href="/css/style1.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/share.min.css">
</head>
<canvas class="cavs" width="1148" height="943"></canvas>
<body>
  <div class="header">
    <div class="navheader"></div>
    <div class="nav">
      <div class="navList">
        <div class="link"><a href="/">首页</a></div>
        <% for(let i = 0; i < categorys.length; i++) { %>
          <div class="link"><a href="/category/<%= categorys[i].id %>/page/1"><%= categorys[i].name %></a></div>
        <% } %>
        <div class="search">
          <input type="text" id="search">
          <button id="searchBtn"><span class="icon"></span><span class="text">搜索</span></button>
        </div>
      </div>
    </div>
    
  </div>

  <div class="content">
    <div class="booklist">
      <%- book.brief %>
    </div>
    <div class="erweima">
      <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1291988422,50075718&fm=26&gp=0.jpg" alt="">
    </div>
  </div>
  <div class="localdownload">
    <a href="/download/dl/1">本地下载</a>
  </div>
  <style>
    .localdownload {
      background: skyblue;
      text-align: center;
    }
    .localdownload a {
      color: #fff;
      text-decoration: none;
    }
  </style>
  <script src="/js/jquery-1.7.2.js"></script>
  <script src="/js/ban.js"></script>
  <script>
    // var delDiv = document.querySelector('.e-secret')
    // delDiv.parentElement.removeChild(delDiv)
    var searchBtn = document.getElementById('searchBtn')
    searchBtn.onclick = function(e) {
      let value = document.getElementById('search').value
      location.href = '/search/'+value+'/page/1'
    }
  </script>
</body>
</html>